html {
    overflow-y: overlay;
}

html,
body {
    padding: 0;
    margin: 0;
}

header {
    display: inline-flex;
    align-content: center;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100vw;
    height: 64px;
    display: flex;
    border: none;
    border-bottom: solid 1px #dadce0;
    padding: 0 32px;
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 10;
}

nav {
    display: inline-flex;
}

main {
    top: 144px;
    margin: 32px auto;
    margin-top: 32px;
    margin-bottom: 0px;
    width: calc(100vw - 64px);
    max-width: 1920px;
    height: calc(100vh - 256px);
}

.additem_container {
    display: grid;
    align-content: center;
    margin: 32px auto;
    margin-top: 32px;
    margin-bottom: 0px;
    width: calc(100vw - 64px);
    max-width: 560px;
    height: 64px;
    border-radius: 32px;
    border: solid 1px #dadce0;
}

.input_container {
    height: 32px;
    padding: 0 16px;
}

.button {
    display: inline-flex;
    padding: 0;
    border: none;
    outline: none;
    overflow: hidden;
    font-weight: 500;
    cursor: pointer;
    font-family: roboto;
    align-self: center;
    background: none;
    text-decoration: none;
    box-sizing: border-box;
}

.button_text,
.button_icon {
    display: inline-flex !important;
    align-items: center !important;
    height: 100% !important;
    white-space: nowrap !important;
}

.button_text {
    padding-right: 16px;
    padding-left: 8px;
}

.button_icon {
    padding-left: 16px;
    padding-right: 8px;
}

.home_button {
    height: 48px;
    font-size: 24px;
}

.home_button .button_text,
.button_icon {
    color: #5f6368;
}

.nav_button {
    height: 100%;
    font-size: 16px;
    text-decoration: none;
    margin: 0;
    line-height: 0;
}

.nav_button:hover {
    background: rgba(0, 0, 0, 0.025);
}

.nav_button .button_text {
    padding: 0 24px;
    color: #5f6368;
}

.nav_button .button_text:hover {
    color: #000;
}

.nav_button_active {
    margin-bottom: -2px;
    border-bottom: solid 2px #3B67BB
}

.nav_button_active:hover {
    background: rgba(59, 103, 187, .1);
}

.nav_button_active:hover .button_text {
    color: #3B67BB;
}

.nav_button_active .button_text {
    color: #3B67BB;
}

.additem_button {
    align-self: center; 
    height: 32px;
    float: left;
    border-radius: 4px;
}

.additem_button:hover {
    background: rgba(0, 0, 0, 0.025);
}

.additem_button .button_text {
    font-size: 14px;
    padding-right: 8px;
    color: #5f6368;
}

.additem_button .button_icon {
    padding-left: 8px;
    padding-right: 0px;
    color: #5f6368;
}

.additem_button:hover .button_text,
.additem_button:hover .button_icon {
    color: #000;
}

.resizable_text_box {
    height: 32px;
    padding: 0 15px 0 10px;
    overflow: hidden;
}

.resizable_text_box input {
    height: 32px;
    width: 100%;
    border: none;
    outline: none;
    caret-color: #3B67BB;
    font-size: 14px;
}

input:focus::-webkit-input-placeholder {
    color: #3B67BB;
}

.inner_nav {
    height: 32px;
    display: inline-flex;
    box-sizing: border-box;
    display: flex;
}

.inner_nav a {
    height: 32px;
}

.inner_nav .button_text {
    color: #5f6368;
    padding: 0;
    margin: 0;
}

.inner_nav_divider {
    padding: 0;
    margin: 0 16px;
}

.filter_wrapper {
    height: 32px;
    display: inline-flex;
    align-content: center;
    justify-content: space-between;
    box-sizing: border-box;
    display: flex;
    margin-top: 16px;
    margin-bottom: 16px;
}

.dropdown_button {
    align-self: center;
    height: 32px;
    float: left;
    border-radius: 4px;
    border: 1px solid #dadce0;
    border-radius: 16px;
    padding-left: 8px;
    padding-right: 8px;
}

.dropdown_button span {
    pointer-events: none;
}

.dropdown_button:hover {
    background: rgba(59, 103, 187, .1);
}

.dropdown_button .button_text {
    font-size: 14px;
    padding-right: 8px;
    color: #5f6368;
}

.dropdown_button .button_icon {
    padding-left: 4px;
    padding-right: 0px;
    color: #3B67BB;
}

.dropdown_button .button_text {
    padding-right: 4px;
}

.dropdown_button:hover .button_text,
.dropdown_button:hover .button_icon {
    color: #3B67BB;
}

.dropdown_button_active {
    background: rgba(59, 103, 187, .1);
}

.dropdown_button_active .button_text,
.dropdown_button_active .button_icon {
    color: #3B67BB;
}

.dropdown-content {
    display: none;
    position: absolute;
    margin-top: 40px;
    background-color: #fff;
    min-width: 80px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 5px;
    z-index: 1;
    border-radius: 4px;
    padding: 8px 0;
  }
  
  .dropdown-content button {
    color: #5f6368;
    padding: 0 12px;
    height: 32px;
    text-decoration: none;
    display: flex;
    align-content: center;
    align-items: center !important;
    white-space: nowrap !important;
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    background: none;
    border: none;
    width: 100%;
    cursor: pointer;
  }
  
  .dropdown-content button:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: #000;
    }
  
  .show {
    display:block;
    }


  
  button.active, button.active:hover {
    background-color: rgba(59, 103, 187, .1);
    color: #000;
  }


.checkbox_button {
    align-self: center;
    height: 32px;
    float: left;
    border-radius: 4px;
    margin-left: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0;
}


.mdc-checkbox__checkmark {
    box-sizing: border-box;
    background: #3B67BB;
    border: #3B67BB 2px solid;
    border-radius: 2px;
    box-sizing: content-box;
    margin: -2px;
}

.sort {
    height: 32px;
    display: inline-flex;
    align-content: center;
    justify-content: space-between;
    box-sizing: border-box;
    display: flex;
}

.num_results {
    display: inline-flex !important;
    align-items: center !important;
    height: 100% !important;
    white-space: nowrap !important;
    margin: 0 16px;
    font-family: roboto;
    font-size: 14px;
    color: #5f6368;
}

.product_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;

}

.product {
    display: flex;
    height: calc(.25* calc(100vw - 112px));
    width: calc(.25* calc(100vw - 112px));
    max-width: 468px;
    max-height: 468px;
    border: 1px solid #dadce0;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 16px;
    flex-direction: column;
    text-decoration: none;
    transition: all .18s ease;
}

.product:hover {
    transform: translate(0, -1px);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 5px;
}

h1 {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 8px;
    color: #000;
}

h4 {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    color: #5f6368;
}

.price {
    display: inline-flex;
    align-content: center;
}

.addtocart_wrapper {
    display: inline-flex;
    height: 32px;
    margin-top: auto;
    justify-content: space-between;
}

.addtocart_button {
    align-self: center;
    height: 32px;
    float: left;
    border-radius: 4px;
    padding-left: 8px;
    padding-right: 8px;
    background: #3B67BB;
}

.addtocart_button:hover {}

.addtocart_button .button_text {
    font-size: 14px;
    padding-right: 8px;
    color: #fff;
}

.addtocart_button .button_icon {
    padding-left: 4px;
    padding-right: 0px;
    color: #fff;
}

.addtocart_button .button_text {
    padding-right: 4px;
}

.addtocart_button:hover .button_text,
.addtocart_button:hover .button_icon {}

.product_details_wrapper {
    margin-top: 64px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}

.product_image_wrapper {
    border: solid 1px #dadce0;
    width: 100%;
    padding-top: 100%;
    /* 1:1 Aspect Ratio */
    border-radius: 16px;
    display: flex;
    position: relative;
}

.product_image_button {
    align-self: center;
    height: 32px;
    width: 32px;
    float: left;
    border-radius: 16px;
    justify-content: center;
    align-content: center;
    margin: 16px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    margin-left: auto;
    margin-top: auto;
}


.product_image_button .button_icon {
    padding: 0px;
    margin: 0px;
    color: #5f6368;
}


.product_description_wrapper {
    display: flex;
    flex-direction: column;
}

.product_description_tabs {
    margin-top: 32px;
    height: 32px;
    border-bottom: 1px solid #dadce0;
    display: inline-flex;
}

.product_description_ingredients {
    display: block;
    margin: 0;
    padding: 16px;
}

.product_description_nutritionalInformation {
    display: none;
    margin: 0;
    padding: 16px;
}

.product_description_allergens {
    display: none;
    margin: 0;
    padding: 16px;
}

p {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
}

.nutrient_wrapper {
    display: inline-flex;
    justify-content: space-between;
    height: 32px;
    border-bottom: 1px solid #dadce0;
    width: 100%;
    font-family: Roboto;
    font-size: 14px;
}

.nutrient_wrapper span {
    align-self: center;
}

.nutrient_wrapper_header span {
    color: #5f6368;
}

input[type=checkbox] {
    display: none;
}

label {
  display: inline-block;
  cursor: pointer;
  padding-left: 25px;
  position:relative;
}

input[type=checkbox] + label:after {
    font-family: 'Material Icons';
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 0;
    border: 2px solid #757575;
    border-radius: 2px;
}

input[type=checkbox]:checked + label:after {
    content: "\E5CA";
    color: #fff;
    font-size: 16px;
    text-align: center;
    line-height: 16px;
    background: #ff5d02;
    border-color: #ff5d02;
}

.resize-animation-stopper * {
    animation: none !important;
    transition: none !important;
}

li {
    list-style-type: none;
    font-size: 35px;
    max-width: 90%;
}

.remove {
    margin-left: 20px;
}